{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
   <p class="Lead">
       This is a department at Siemens that develops software solutions for the entire Siemens company.
       The kind of work students do, differ quite a lot, but most commonly they support Mobility and other divisions by developing automation scripts or tools.
       Tools that helps optimize work, so that one can focus on what is important hence reducing costs,
       time spent and replacing manual processes with application software that can automatically do whatever need to be done periodically and at the end,
       and therefore making the job more interesting and easier.
   </p>
  </div>
{% endblock %}